body {
    box-sizing: border-box;
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-color: red;
}

.big-circle {
    width: 600px;
    height: 600px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
}

.inner-circle {
    width: 500px;
    height: 500px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);
}

.triangle {
    position: relative;
    width: 0;
    height: 0;

    font-size: 150px;
    
    border-right: .3em solid transparent;
    border-bottom: .7em solid white;
    border-left: .3em solid transparent;

    top: 35%;
    left: 60%;

    transform: rotate(-5deg);
   
}

.triangle:before, .triangle:after {
    content: '';

    display: block;
    width: 0;
    height: 0;

    position: absolute;
    top: .6em;
    left: -1em;

    border-right: 1em solid transparent;
    border-bottom: .7em solid white;
    border-left: 1em solid transparent;

    transform: rotate(-35deg);
}

.triangle:after {
    transform: rotate(35deg);
}

